<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.example.thanhldtse61575.hotelservicetvbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".PromotionalChanelActivity" />
        <activity android:name=".MaintenanceActivity" />
        <activity android:name=".OrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ViewBillActivity" />
        <activity android:name=".PendingActivity" />
        <activity android:name=".AppsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ExtraActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SurveyActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".RecommendActivity" />
        <activity android:name=".RecommendDetailActivity" />
        <activity android:name=".PromoDetailsActivity" />
        <activity android:name=".EcardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FoodyActivity"
            android:label="@string/title_activity_foody"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ShopActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".RequestTicketActivity"
            android:windowSoftInputMode="stateHidden" ></activity>
    </application>

</manifest>