<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.example.thanhldtse61575.hotelservicetvbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PromotionalChanelActivity" />
        <activity android:name=".RoomServicesActivity" />
        <activity android:name=".FoodsBeveragesActivity" />
        <activity android:name=".HousekeepingActivity" />
        <activity android:name=".MaintenanceActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".ViewBillActivity"></activity>
    </application>

</manifest>